## Exploratory Data Analysis using pandas

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

Uncomment below to download the necessary modules
```python
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql
```

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

```python
%load_ext sql
```

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

```python
%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name
```

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

```python 
%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL
```

## Import and pre-process data

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('Spacex.csv')

In [9]:
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [10]:
df.shape

(101, 10)

In [11]:
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y').dt.date 
df['Time (UTC)'] = pd.to_datetime(df['Time (UTC)'], format='%H:%M:%S').dt.time
df['Year'] = pd.to_datetime(df['Date']).dt.year

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               101 non-null    object
 1   Time (UTC)         101 non-null    object
 2   Booster_Version    101 non-null    object
 3   Launch_Site        101 non-null    object
 4   Payload            101 non-null    object
 5   PAYLOAD_MASS__KG_  101 non-null    int64
 6   Orbit              101 non-null    object
 7   Customer           101 non-null    object
 8   Mission_Outcome    101 non-null    object
 9   Landing _Outcome   101 non-null    object
 10  Year               101 non-null    int32
dtypes: int32(1), int64(1), object(9)
memory usage: 8.4+ KB

In [13]:
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome,Year
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute),2010
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute),2010
2,2012-05-22,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt,2012
3,2012-10-08,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt,2012
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt,2013

In [14]:
df.tail()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome,Year
96,2020-11-05,23:24:23,F9 B5B1062.1,CCAFS SLC-40,"GPS III-04 , Crew-1",4311,MEO,USSF,Success,Success,2020
97,2020-11-16,00:27:00,F9 B5B1061.1,KSC LC-39A,"Crew-1, Sentinel-6 Michael Freilich",12500,LEO (ISS),NASA (CCP),Success,Success,2020
98,2020-11-21,17:17:08,F9 B5B1063.1,VAFB SLC-4E,"Sentinel-6 Michael Freilich, Starlink 15 v1.0",1192,LEO,NASA / NOAA / ESA / EUMETSAT,Success,Success,2020
99,2020-11-25,02:13:00,F9 B5 B1049.7,CCAFS SLC-40,"Starlink 15 v1.0, SpaceX CRS-21",15600,LEO,SpaceX,Success,Success,2020
100,2020-12-06,16:17:08,F9 B5 B1058.4,KSC LC-39A,SpaceX CRS-21,2972,LEO (ISS),NASA (CRS),Success,Success,2020

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [15]:
df['Launch_Site'].unique()

array(['CCAFS LC-40', 'VAFB SLC-4E', 'KSC LC-39A', 'CCAFS SLC-40'],
      dtype=object)

### Task 2

##### Display 5 records where launch sites begin with the string 'KSC'

Method 1:

In [16]:
df[df.Launch_Site. str.match('KSC')].head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome,Year
29,2017-02-19,14:39:00,F9 FT B1031.1,KSC LC-39A,SpaceX CRS-10,2490,LEO (ISS),NASA (CRS),Success,Success (ground pad),2017
30,2017-03-16,06:00:00,F9 FT B1030,KSC LC-39A,EchoStar 23,5600,GTO,EchoStar,Success,No attempt,2017
31,2017-03-30,22:27:00,F9 FT B1021.2,KSC LC-39A,SES-10,5300,GTO,SES,Success,Success (drone ship),2017
32,2017-05-01,11:15:00,F9 FT B1032.1,KSC LC-39A,NROL-76,5300,LEO,NRO,Success,Success (ground pad),2017
33,2017-05-15,23:21:00,F9 FT B1034,KSC LC-39A,Inmarsat-5 F4,6070,GTO,Inmarsat,Success,No attempt,2017

Method 2:

In [17]:
df[df['Launch_Site'].str.contains(r'KSC(?!$)')].head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome,Year
29,2017-02-19,14:39:00,F9 FT B1031.1,KSC LC-39A,SpaceX CRS-10,2490,LEO (ISS),NASA (CRS),Success,Success (ground pad),2017
30,2017-03-16,06:00:00,F9 FT B1030,KSC LC-39A,EchoStar 23,5600,GTO,EchoStar,Success,No attempt,2017
31,2017-03-30,22:27:00,F9 FT B1021.2,KSC LC-39A,SES-10,5300,GTO,SES,Success,Success (drone ship),2017
32,2017-05-01,11:15:00,F9 FT B1032.1,KSC LC-39A,NROL-76,5300,LEO,NRO,Success,Success (ground pad),2017
33,2017-05-15,23:21:00,F9 FT B1034,KSC LC-39A,Inmarsat-5 F4,6070,GTO,Inmarsat,Success,No attempt,2017

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

Method 1

In [18]:
df[['Customer', 'PAYLOAD_MASS__KG_']].groupby(['Customer']).get_group('NASA (CRS)').sum()

C:\Users\Tim\AppData\Local\Temp\ipykernel_4496\539326189.py:1: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  df[['Customer', 'PAYLOAD_MASS__KG_']].groupby(['Customer']).get_group('NASA (CRS)').sum()

Customer             NASA (CRS)NASA (CRS)NASA (CRS)NASA (CRS)NASA (...
PAYLOAD_MASS__KG_                                                45596
dtype: object

Method 2

In [19]:
df[df['Customer']=='NASA (CRS)']['PAYLOAD_MASS__KG_'].sum()

45596

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [20]:
df['Booster_Version'].value_counts()

Booster_Version
F9 v1.1           5
F9 v1.0  B0003    1
F9 B5B1054        1
F9 B5B1059.1      1
F9 B5 B1048.4     1
                 ..
F9 FT B1035.1     1
F9 FT B1034       1
F9 FT B1032.1     1
F9 FT  B1021.2    1
F9 B5 B1058.4     1
Name: count, Length: 97, dtype: int64

In [21]:
df[df['Booster_Version']=='F9 v1.1']['PAYLOAD_MASS__KG_'].mean()

2928.4

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [22]:
df['Landing _Outcome'].value_counts()

Landing _Outcome
Success                   38
No attempt                21
Success (drone ship)      14
Success (ground pad)       9
Controlled (ocean)         5
Failure (drone ship)       5
Failure                    3
Failure (parachute)        2
Uncontrolled (ocean)       2
Precluded (drone ship)     1
No attempt                 1
Name: count, dtype: int64

Method 1

In [23]:
df[df['Landing _Outcome']=='Success (ground pad)']['Date'].min()

datetime.date(2015, 12, 22)

Method 2 - check the smallest date

In [24]:
df[df['Landing _Outcome']=='Success (ground pad)']['Date']

19    2015-12-22
26    2016-07-18
29    2017-02-19
32    2017-05-01
34    2017-06-03
38    2017-08-14
40    2017-09-07
44    2017-12-15
46    2018-01-08
Name: Date, dtype: object

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [25]:
df[(df['Landing _Outcome']=='Success (drone ship)') & 
   (df['PAYLOAD_MASS__KG_']>4000) & (df['PAYLOAD_MASS__KG_']<6000)]['Booster_Version']

23       F9 FT B1022
27       F9 FT B1026
31    F9 FT  B1021.2
42    F9 FT  B1031.2
Name: Booster_Version, dtype: object

### Task 7

##### List the total number of successful and failure mission outcomes

Method 1

In [26]:
len(df[df.Mission_Outcome.str.match('Success')]['Mission_Outcome'].to_list())

100

Method 2 - add all the success mission outcomes

In [27]:
df.Mission_Outcome.value_counts()

Mission_Outcome
Success                             98
Failure (in flight)                  1
Success (payload status unclear)     1
Success                              1
Name: count, dtype: int64

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [28]:
df[df['PAYLOAD_MASS__KG_']==df['PAYLOAD_MASS__KG_'].max()]['Booster_Version']

74     F9 B5 B1048.4
77     F9 B5 B1049.4
79     F9 B5 B1051.3
80     F9 B5 B1056.4
82     F9 B5 B1048.5
83     F9 B5 B1051.4
85     F9 B5 B1049.5
92    F9 B5 B1060.2
93    F9 B5 B1058.3
94     F9 B5 B1051.6
95     F9 B5 B1060.3
99    F9 B5 B1049.7
Name: Booster_Version, dtype: object

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [29]:
df.loc[((df['Landing _Outcome']=='Failure (drone ship)')&(df['Year']==2015)),\
       ['Landing _Outcome', 'Booster_Version', 'Launch_Site', 'Year']]

        Landing _Outcome Booster_Version  Launch_Site  Year
13  Failure (drone ship)   F9 v1.1 B1012  CCAFS LC-40  2015
16  Failure (drone ship)   F9 v1.1 B1015  CCAFS LC-40  2015

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [30]:
import datetime as dt

In [31]:
date_outcomes = df.loc[((df['Date']>=dt.date(2010,6,4)) & (df['Date']<=dt.date(2017,3,20))),\
       ['Date', 'Landing _Outcome']]
date_outcomes

          Date        Landing _Outcome
0   2010-06-04     Failure (parachute)
1   2010-12-08     Failure (parachute)
2   2012-05-22              No attempt
3   2012-10-08              No attempt
4   2013-03-01              No attempt
5   2013-09-29    Uncontrolled (ocean)
6   2013-12-03              No attempt
7   2014-01-06              No attempt
8   2014-04-18      Controlled (ocean)
9   2014-07-14      Controlled (ocean)
10  2014-08-05              No attempt
11  2014-09-07              No attempt
12  2014-09-21    Uncontrolled (ocean)
13  2015-01-10    Failure (drone ship)
14  2015-02-11      Controlled (ocean)
15  2015-03-02              No attempt
16  2015-04-14    Failure (drone ship)
17  2015-04-27              No attempt
18  2015-06-28  Precluded (drone ship)
19  2015-12-22    Success (ground pad)
20  2016-01-17    Failure (drone ship)
21  2016-03-04    Failure (drone ship)
22  2016-04-08    Success (drone ship)
23  2016-05-06    Success (drone ship)
24  2016-05-27    Success (drone ship)
25  2016-06-15    Failure (drone ship)
26  2016-07-18    Success (ground pad)
27  2016-08-14    Success (drone ship)
28  2017-01-14    Success (drone ship)
29  2017-02-19    Success (ground pad)
30  2017-03-16              No attempt

In [32]:
sorted_data_outcomes = date_outcomes.loc[((df['Landing _Outcome']=='Failure (drone ship)') | (df['Landing _Outcome']=='Success (ground pad)')),:]
sorted_data_outcomes

          Date      Landing _Outcome
13  2015-01-10  Failure (drone ship)
16  2015-04-14  Failure (drone ship)
19  2015-12-22  Success (ground pad)
20  2016-01-17  Failure (drone ship)
21  2016-03-04  Failure (drone ship)
25  2016-06-15  Failure (drone ship)
26  2016-07-18  Success (ground pad)
29  2017-02-19  Success (ground pad)

In [33]:
sorted_data_outcomes['Landing _Outcome'].value_counts()

Landing _Outcome
Failure (drone ship)    5
Success (ground pad)    3
Name: count, dtype: int64